@charset "utf-8";

@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
}

@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("../fonts/CenturyGothic-Bold.woff") format("woff");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  overflow-x: hidden;
  font-family: "CenturyGothic", sans-serif;
  line-height: 1.78;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(#000000, 0.8);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.wrapper {
  max-width: calc(1505px + 40px + 40px);
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin: 0;
  color: #0072bc;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  display: block;
  padding-bottom: 40px;
  margin-bottom: 32px;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(#6dcff6, 0.6);
    position: absolute;
    bottom: 0;
    left: 100%;
  }

  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: rgba(#6dcff6, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.title-sm {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #000000;
  margin: 0;
  display: block;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  color: rgba(#000000, 0.8);
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.hero {
  background: linear-gradient(-125deg, #00a9e7 17.17%, #005aa4 78.33%);
  // background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
  animation: gradient 6s infinite linear;
  background-size: 400%;
  color: #ffffff;
  padding: 112px 0 0;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    display: block;
    background-image: url(../img/white-wave.svg);
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: 11;
    height: 267px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
  }
  &__logo {
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 104px;
    width: 100%;
    height: 104px;
    margin-right: 32px;
    img {
      display: block;
      flex-shrink: 0;
    }
  }
  &__phone {
    flex-shrink: 2;
    span {
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #ffffff;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: calc(16px + 8px);

      &::before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../img/icon/phone.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
      }
    }
    a {
      font-weight: 700;
      font-size: 24px;
      line-height: 1.33;
      color: #6dcff6;
      display: block;
      text-decoration: none;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    align-items: flex-start;
  }

  &__left {
    z-index: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  &__right {
    z-index: 0;
    grid-column-start: 6;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .img-group {
    position: relative;
    height: 700px;
    img {
      position: absolute;
      bottom: 0;
      display: block;
    }
    &__left {
      left: 4%;
    }
    &__center {
      z-index: 2;
      left: 25%;
    }
    &__right {
      right: -26%;
    }
  }

  .title {
    color: inherit;
    padding-bottom: 34px;
    margin-bottom: 24px;
    &::before {
      left: auto;
      right: 100%;
      background-color: rgba(#ffffff, 0.3);
    }
    &::after {
      background-color: rgba(#ffffff, 0.3);
    }
  }
  .subtitle {
    color: rgba(#ffffff, 0.8);
    margin-bottom: 25px;
  }

  &__image {
    background: #ffffff;
    border-radius: 48px;
    max-width: 288px;
    width: 100%;
    padding: 26px 24px 27px;

    a {
      display: block;
    }

    img {
      display: block;
    }
  }
}

.catalog {
  &__item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }

    margin-top: -155px;
    position: relative;
    z-index: 11;
  }

  .subtitle {
    margin-bottom: 22px;
  }

  &__benefits {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-bottom: 48px;
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba(109, 207, 246, 0.6);
      position: absolute;
      bottom: 0;
      left: 100%;
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      background-color: rgba(109, 207, 246, 0.6);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    li {
      display: grid;
      grid-template-columns: 64px 1fr;
      gap: 77px 24px;
      align-items: center;
    }

    p {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      color: #000000;
    }
  }
  &__photo {
    padding-right: 64px;
    justify-self: end;
  }

  &__details {
    margin-top: -62px;
  }
}

.where-buy {
  &__title {
    color: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    margin-top: 38px;
    margin-bottom: 40px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    li {
      position: relative;
      display: flex;
      justify-content: center;
      min-height: 136px;

      .button {
        position: absolute;
        bottom: -25px;
      }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #a7e2fa;
    border-radius: 24px;
    img {
      display: block;
    }
  }
  .button {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.button {
  max-width: max-content;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0072bc;
  padding: 14px;
  min-height: 48px;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #0072bc;
    color: #ffffff;
  }

  &--white {
    background-color: #ffffff;
    border: 2px solid #0072bc;



  }

  &--ozon {
    background-color: #005cff;
    color: #ffffff;
  }
  &--wildberries {
    background-color: #b3109c;
    color: #ffffff;
  }
}

.catalog__item-grid:nth-child(2) {
  .title::before {
    left: auto;
    right: 100%;
  }

  .catalog__benefits::before {
    left: auto;
    right: 100%;
  }
  .catalog__photo {
    padding-right: initial;
    padding-left: 64px;
    justify-self: start;
  }
}

.pricing-purchase {
  color: #ffffff;
  padding: 190px 0 80px;
  background-color: transparent;
  background-image: url(../img/bg/pricing-purchase.svg);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
  margin-top: -256px;
  z-index: 11;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 88px;
  }

  &__item {
    background: #ffffff;
    border: 1px solid #a7e2fa;
    border-radius: 24px;
    color: #000000;
    padding: 33px;
    padding-bottom: 0;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
    align-items: end;
  }

  &__details {
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    color: #ffffff;
    margin: 0;
    margin-bottom: 40px;
  }
  &__photo {
    position: relative;
    z-index: 11;
    margin-bottom: -1px;
    margin-top: -88px;
    img {
      display: block;
    }
  }
  &__name {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.78;
    color: #000000;
    margin-bottom: 16px;
  }
  &__price {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1;
    color: #00abe6;
  }
  &__buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    margin-bottom: 33px;
    align-items: center;
  }

  .button {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
@media (max-width: 375px) {
}
