@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
}
@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  overflow-x: hidden;
  font-family: "CenturyGothic", sans-serif;
  line-height: 1.78;
  background-color: #ffffff;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.wrapper {
  max-width: 1585px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin: 0;
  color: #0072bc;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  display: block;
  padding-bottom: 40px;
  margin-bottom: 32px;
  position: relative;
}
.title::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(109, 207, 246, 0.6);
  position: absolute;
  bottom: 0;
  left: 100%;
}
.title::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(109, 207, 246, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
}

.title-sm {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #000000;
  margin: 0;
  display: block;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}
.hero {
  background: linear-gradient(-125deg, #00a9e7 17.17%, #005aa4 78.33%);
  animation: gradient 6s infinite linear;
  background-size: 400%;
  color: #ffffff;
  padding: 112px 0 0;
  position: relative;
  overflow: hidden;
}
.hero::before {
  content: "";
  display: block;
  background-image: url(../img/white-wave.svg);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 11;
  height: 267px;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero__header {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.hero__logo {
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 104px;
  width: 100%;
  height: 104px;
  margin-right: 32px;
}
.hero__logo img {
  display: block;
  flex-shrink: 0;
}
.hero__phone {
  flex-shrink: 2;
}
.hero__phone span {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.hero__phone span::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon/phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}
.hero__phone a {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  color: #6dcff6;
  display: block;
  text-decoration: none;
}
.hero__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  align-items: flex-start;
}
.hero__left {
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;
}
.hero__right {
  z-index: 0;
  grid-column-start: 6;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 1;
}
.hero .img-group {
  position: relative;
  height: 700px;
}
.hero .img-group img {
  position: absolute;
  bottom: 0;
  display: block;
}
.hero .img-group__left {
  left: 4%;
}
.hero .img-group__center {
  z-index: 2;
  left: 25%;
}
.hero .img-group__right {
  right: -26%;
}
.hero .title {
  color: inherit;
  padding-bottom: 34px;
  margin-bottom: 24px;
}
.hero .title::before {
  left: auto;
  right: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.hero .title::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.hero .subtitle {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}
.hero__image {
  background: #ffffff;
  border-radius: 48px;
  max-width: 288px;
  width: 100%;
  padding: 26px 24px 27px;
}
.hero__image a {
  display: block;
}
.hero__image img {
  display: block;
}

.catalog__item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -155px;
  position: relative;
  z-index: 11;
}
.catalog__item-grid:last-child {
  margin-bottom: 0;
}
.catalog .subtitle {
  margin-bottom: 22px;
}
.catalog__benefits {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-bottom: 48px;
  position: relative;
}
.catalog__benefits::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(109, 207, 246, 0.6);
  position: absolute;
  bottom: 0;
  left: 100%;
}
.catalog__benefits::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba(109, 207, 246, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
}
.catalog__benefits li {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 77px 24px;
  align-items: center;
}
.catalog__benefits p {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
}
.catalog__photo {
  padding-right: 64px;
  justify-self: end;
}
.catalog__details {
  margin-top: -62px;
}

.where-buy__title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  margin-top: 38px;
  margin-bottom: 40px;
}
.where-buy__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.where-buy__list li {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 136px;
}
.where-buy__list li .button {
  position: absolute;
  bottom: -25px;
}
.where-buy__image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #a7e2fa;
  border-radius: 24px;
}
.where-buy__image img {
  display: block;
}
.where-buy .button {
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  display: block;
  max-width: max-content;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #0072bc;
  padding: 14px;
  min-height: 48px;
}
.button--white {
  background-color: #ffffff;
  border: 2px solid #0072bc;
}
.button--ozon {
  background-color: #005CFF;
  color: #FFFFFF;
}
.button--wildberries {
  background-color: #B3109C;
  color: #FFFFFF;
}

.catalog__item-grid:nth-child(2) .title::before {
  left: auto;
  right: 100%;
}
.catalog__item-grid:nth-child(2) .catalog__benefits::before {
  left: auto;
  right: 100%;
}
.catalog__item-grid:nth-child(2) .catalog__photo {
  padding-right: initial;
  padding-left: 64px;
  justify-self: start;
}

.pricing-purchase {
  color: #ffffff;
  padding: 190px 0 80px;
  background-color: transparent;
  background-image: url(../img/bg/pricing-purchase.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: -256px;
  z-index: 11;
}
.pricing-purchase__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-top: 88px;
}
.pricing-purchase__item {
  background: #ffffff;
  border: 1px solid #a7e2fa;
  border-radius: 24px;
  color: #000000;
  padding: 33px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
  align-items: end;
}
.pricing-purchase__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
  margin-bottom: 40px;
}
.pricing-purchase__photo {
  position: relative;
  z-index: 11;
  margin-bottom: -1px;
  margin-top: -88px;
}
.pricing-purchase__photo img {
  display: block;
}
.pricing-purchase__name {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
  margin-bottom: 16px;
}
.pricing-purchase__price {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  color: #00abe6;
}
.pricing-purchase__buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
  margin-bottom: 33px;
  align-items: center;
}
.pricing-purchase .button {
  width: 100%;
  max-width: 100%;
}